@import '../styles/variables.less';

@padding: 0.375rem 0.5rem;
@font-size: 0.75rem;
@tag-size: 0.5rem;


// AddTask form
.add-task-form{
  width: 285px;
  max-width: 28rem;
  input{
    padding: @padding;
    font-size: @font-size;
  }
  .ant-form-item-explain{
    font-size: @font-size;
  }
  .ant-select{
    font-size: @font-size;
    input {
      padding: 0;
      font-size: inherit;
    }
  }
  .ant-picker{
    padding: @padding;
    margin-right:0.5rem;
    .ant-picker-input{
      input{
        font-size: @font-size;
        padding: 0;
      }
      .ant-picker-suffix{
        display: none;
      }
    }
  }
  .add-task-buttons{
    justify-content: space-between;
    .ant-form-item{
      width: 47.5%;
      .ant-btn{
        width: 100%;
      }
    }
  }
  .task-des{
    font-size: @font-size;
  }
  .tag-select{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .ant-select-selection-search::after{
      content:'';
      display: inline-block;
      width: @tag-size;
      height: @tag-size;
      border-radius: 50%;
      background-color: var(--color-tag);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-10px, -50%);
    }
    .ant-select-selector{
      padding-left: 0.875rem;
    }
  }
}

// TagFilter
.task-tag-filter{
  margin: 0.75rem 0;
  display: flex;
  .tag{
    cursor: pointer;
    border: none;
    background: none;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    position: relative;
    padding:0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .label-color{
      margin-right: 0.25rem;
      display: inline-block;
      width: @tag-size;
      height: @tag-size;
      border-radius: 50%;
    }
    // focus state is in the file of '../main.less'
    &:active{
      outline: none;
      background: #f0f0f0;
      border: none;
    }
    &.selected{
      background: #f0f0f0;
    }
  }
}