@import './styles/variables';
@import './layout/calendar/calendar.less';
@import './layout/siderMenu/siderMenu.less';
@asideHeight: 70px;

.main-container{
  position: relative;
  background-color: var(--bg-white);
  min-height: 100vh;
  padding-bottom: calc(@asideHeight + 1rem);
}
.main-footer{
  background-color: var(--color-gray-100);
  text-align: left;
  @media only screen and (min-width: 1201px) {
    margin-left: @cover-max-width;
    background-color: var(--bg-white);
    position: absolute;
    bottom: 0;
  }
  @media only screen and (min-width: 769px) and (max-width: 1200px){
    margin-left:@cover-width;
    background-color: var(--bg-white);
    position: absolute;
    bottom: 0;
  }
}


* {
  font-family: 'Open Sans', sans-serif;
}

/* color schema */
.danger{
  background-color: var(--color-danger);
}
.success{
  background-color: var(--color-success);
}
.info{
  background-color: var(--color-info);
}
.white{
  background-color: var(--color-white);
}
.gray-100{
  background-color: var(--color-gray-100);
}
.gray-300{
  background-color: var(--color-gray-300);
}
.gray-500{
  background-color: var(--color-gray-500);
}
.gray-700{
  background-color: var(--color-gray-700);
}
.gray-900{
  background-color: var(--color-gray-900);
}
.black{
  background-color: var(--color-black);
}

/* text color schema */
.text-danger{
  color: var(--color-danger);
}
.text-success{
  color: var(--color-success);
}
.text-info{
  color: var(--color-info);
}
.text-white{
  color: var(--color-white);
}
.text-gray-100{
  color: var(--color-gray-100);
}
.text-gray-300{
  color: var(--color-gray-300);
}
.text-gray-500{
  color: var(--color-gray-500);
}
.text-gray-700{
  color: var(--color-gray-700);
}
.text-gray-900{
  color: var(--color-gray-900);
}
.text-black{
  color: var(--color-black);
}

.text-semi-bold{
  font-weight: 600;
}
.text-bold{
  font-weight: bold;
}

/* xs breakpoint */
@media @mobile-xs {
  .xs-hidden{
    display: none;
  }
}

/* sm breakpoint */
@media @mobile-sm {
  .sm-hidden{
    display: none;
  }
}

/* md breakpoint */
@media @tablet-md {
  .md-hidden{
    display: none;
  }
}

/* lg breakpoint */
@media @desktop-lg {
  .lg-hidden{
    display: none;
  }
}

/* xl breakpoint */
@media @desktop-xl {
  .xl-hidden{
    display: none;
  }
}

/* xxl breakpoint */
@media @desktop-xxl {
  .xxl-hidden{
    display: none;
  }
}

/* bigger than xxl breakpoint */
@media @desktop-xxxl{
  .xxxl-hidden{
    display: none;
  }
}