@import './styles/variables';
:root{
  --antd-wave-shadow-color: #404040;
  --btn-focus-box-shadow: rgba(0, 0, 0, 0.125);
}
@focus-effect: 0 0 0 3px var(--btn-focus-box-shadow);
@box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.3), 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 10px 3px rgba(0, 0, 0, 0.05);
@box-shadow-base: #404040;
.main-container{
  position: relative;
}
.ant-popover-arrow{
  @media only screen and (max-width: 768px){
    display: none;
  }
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* global value */
.hidden{
  display: none;
}
.block{
  display: block;
}
.flex{
  display: flex;
}

/* component */
.primary-button{
  background-color: var(--color-black);
  border-color: var(--color-black);
  &:active, &:hover{
    background-color: var(--color-gray-900) !important;
    border-color: var(--color-gray-900) !important;
  }
  &:focus{
    box-shadow: @focus-effect;
    background-color: var(--color-black);
    border-color: var(--color-gray-500);
  }
}
.tag{
  &:focus{
    outline:none;
    background-color: white;
    box-shadow: @focus-effect;
    border-color: var(--color-gray-500);
  }
}
.outline-button{
  border-color: var(--color-black);
  &:active, &:hover{
    color: var(--color-black);
    border-color: var(--color-gray-900) !important;
  }
  &:focus{
    box-shadow: @focus-effect;
    color: var(--color-black);
    border-color: var(--color-gray-500);
  }
}
.ant-popover-inner, .ant-select-dropdown{
  box-shadow: @box-shadow;
}

.ant-picker-panel-container{
  background-color: var(--bg-white);
  .ant-picker-time-panel-cell{
    position: relative;
    .ant-picker-time-panel-cell-inner{ 
      padding-left: 0.625rem !important;
      text-align: left !important;
    }
  }
  .ant-picker-footer{
    .ant-picker-now-btn{
      color:var(--color-info);
    }
    .ant-picker-ok{
      .ant-btn-primary:disabled{
        background-color: var(--color-gray-100);
      }
      .ant-btn-primary{
        background-color: var(--color-black);
        border: var(--color-black);
      }
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ant-picker-time-panel-column::-webkit-scrollbar {

}

/* Hide scrollbar for IE and Edge */
.ant-picker-time-panel-column {

}

/* color schema */
.danger{
  background-color: var(--color-danger);
}
.success{
  background-color: var(--color-success);
}
.info{
  background-color: var(--color-info);
}
.white{
  background-color: var(--color-white);
}
.gray-100{
  background-color: var(--color-gray-100);
}
.gray-300{
  background-color: var(--color-gray-300);
}
.gray-500{
  background-color: var(--color-gray-500);
}
.gray-700{
  background-color: var(--color-gray-700);
}
.gray-900{
  background-color: var(--color-gray-900);
}
.black{
  background-color: var(--color-black);
}

/* text color schema */
.text-danger{
  color: var(--color-danger);
}
.text-success{
  color: var(--color-success);
}
.text-info{
  color: var(--color-info);
}
.text-white{
  color: var(--color-white);
}
.text-gray-100{
  color: var(--color-gray-100);
}
.text-gray-300{
  color: var(--color-gray-300);
}
.text-gray-500{
  color: var(--color-gray-500);
}
.text-gray-700{
  color: var(--color-gray-700);
}
.text-gray-900{
  color: var(--color-gray-900);
}
.text-black{
  color: var(--color-black);
}

.text-semi-bold{
  font-weight: 600;
}
.text-bold{
  font-weight: bold;
}

/* xs breakpoint */
@media @mobile-xs {
  .xs-hidden{
    display: none;
  }
}

/* sm breakpoint */
@media @mobile-sm {
  .sm-hidden{
    display: none;
  }
}

/* md breakpoint */
@media @tablet-md {
  .md-hidden{
    display: none;
  }
}

/* lg breakpoint */
@media @desktop-lg {
  .lg-hidden{
    display: none;
  }
}

/* xl breakpoint */
@media @desktop-xl {
  .xl-hidden{
    display: none;
  }
}

/* xxl breakpoint */
@media @desktop-xxl {
  .xxl-hidden{
    display: none;
  }
}

/* bigger than xxl breakpoint */
@media @desktop-xxxl{
  .xxxl-hidden{
    display: none;
  }
}